.header {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 50;
  box-shadow: 0px 2px 4px #adadad;
}

.header__nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  height: 40px;
  width: 80px;
}


.hero {
  padding: 80px 16px;
  background: radial-gradient(circle at top left, #4b1a7a, #12002b);
}

.hero__container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.1fr 0.8fr 1fr;
  gap: 40px;
  align-items: center;
}

/* ============================= */
/* HERO RESPONSIVE */
/* ============================= */

/* Tablet */
@media (max-width: 1023px) {
  .hero__container {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .hero__content {
    order: 1;
  }

  .hero__images {
    order: 2;
    height: 300px;
    margin: 0 auto;
  }

  .hero__form {
    order: 3;
    max-width: 420px;
    margin: 0 auto;
  }

  .hero__event {
    margin: 20px auto 0;
  }
}


/* Mobile */
@media (max-width: 767px) {
  .hero {
    padding: 60px 16px;
  }

  .hero__content h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .hero__content p {
    font-size: 14px;
  }

  .hero__event {
    padding: 14px 20px;
    column-gap: 16px;
  }

  .hero__event strong {
    font-size: 14px;
  }

  .hero__event span {
    font-size: 12px;
  }

  .hero__images {
    display: none; /* OPTIONAL: hide slider on mobile */
  }

  .hero__form {
    width: 100%;
  }
}


